<div>
	<h2>A BIT ABOUT YOU</h2>
	<div>We will contact you by phone when we arrive to deliver your nail services.</div>
	<input required type="text" ng-model="user.firstName"/>
	<div>First Name</div>
	<input required type="text" ng-model="user.lastName"/>
	<div>Last Name</div>
	<input required type="phone" ng-model="user.phoneNumber"/>
	<div>Mobile Phone Number</div>
	<button ng-click="onClick()">Sign Up With Phone Number</button>
	<div>A Confirmation Code will be sent via SMS. Standard messaging rates apply.</div>

</div>