<ion-view view-title="Products" ng-controller="ProductsCtrl as vm">
  <ion-content on-swipe-up="vm.toProductDetails()">
		<ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="vm.currentProduct">
		  <ion-slide ng-repeat="product in vm.products" style="height:100%">
		  	<div class="product-desc-container">
			    <div class="big-header">{{product.name}}</div>
			  	<div class="small-header">{{product.hashtags}}</div>
			  	<div class="product-description">{{product.description}}</div>
		  	</div>
		  	<div id="appt-info-container" ng-show="product.appointment">
				<div id="appt-schedule-container">
						<div id="appt-schedule-icon" class="status-icon-circle" style="background-image:url('../img/icon_check@3x.png')"></div>
				  		<div id="scheduled-for-msg">You are scheduled for</div>
						<div id="appt-date-time">{{product.dateTime.date}} at {{product.dateTime.time}}</div>
				  	</div>
				 <div id="appt-address">{{product.appointment.address.street}}</div>
		  	</div>

		  	<div class="price-deadline-container" ng-show="!product.appointment">
				<div class="price-container">
			  		<div class="dollar-sign">$</div>
					<div class="product-price">{{product.price}}</div>
			  	</div>
				<div class="deadline-msg">last chance to book this style {{product.deadlineText}}!</div>
				<button class="arrow-btn ion-ios-arrow-down" ng-click="vm.toProductDetails()"></button>
		  	</div>
		  	<div class="fullscreen-image" ng-style="{'background-image':'url({{product.image}})'}">
		  </ion-slide>
		  <div class="static-footer product-button">
		  	<button id="products-booking-btn" ng-show="!product.appointment" class="primary-button" ng-click="vm.bookAppointment()">Book</button>
		  </div>
		</ion-slide-box>
		<button class="nav-settings-btn" ng-click="vm.toSettings()"></button>
  </ion-content>
</ion-view>
