<ion-view view-title="Products" ng-controller="ProductsCtrl as vm">
  <ion-content on-swipe-up="vm.toProductDetails()">
		<ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeProductIndex">
		  <ion-slide ng-repeat="product in vm.products" style="height:100%">
		  	<div id="top-shader"></div>
		  	<div class="product-desc-container">
			    <div class="big-header">{{product.name}}</div>
			  	<div class="small-header">{{product.hashtags}}</div>
			  	<div class="product-description">{{product.description}}</div>
		  	</div>
		  	<appt-info appointments="vm.userAppointments" product="product" ng-show="product.appointment"></appt-info>
		  	<div id="bottom-shader"></div>
		  	<price-deadline product="product" nav-function="vm.toProductDetails()" ng-hide="product.appointment"></price-deadline>
		  	<div class="fullscreen-image" ng-style="{'background-image':'url({{product.image}})'}">
		  </ion-slide>
		  <div class="static-footer action-button">
		  	<button ng-show="!product.appointment" class="primary-button" ng-click="vm.bookAppointment()">Book</button>
		  	<button ng-show="product.appointment" class="info-button" ng-click="vm.contactUs()">Booked</button>
		  </div>
		</ion-slide-box>
		<button class="nav-settings-btn" ng-click="vm.toSettings()"></button>
  </ion-content>
</ion-view>
