<ion-view view-title="Details" ng-controller="ProductDetailsCtrl as vm">
    <div class="product-info-container">
        <div class="product-text-container">
            <div class="product-name big-header">{{vm.product.name}}</div>
            <div class="product-hashtags small-header">{{vm.product.hashtags}}</div>
        </div>
    </div>
  <ion-content style="margin-bottom:80px; background-color: transparent;" on-swipe-down="vm.toProducts()">
    <div class="instagram-container" ng-repeat="instagram in vm.instagrams">
    	<div class="image-container" ng-style="{'background-image':'url({{instagram.image}})'}">
    		<div class="user-info-container">
    			<div class="user-profile-image">
    				<div class="img-small-circle" ></div>
    				<div class="img-circle" ng-style="{'background-image':'url({{instagram.author.profileImage}})'}"></div>
    			</div>
    			<div class="user-name">{{instagram.author.name}}</div>
    		</div>
    	</div>
    	<div class="user-text-container">
    		<div class="comments">{{instagram.comments}}</div>
    		<div class="hashtags">{{instagram.hashtags}}</div>
    	</div>
    </div>
  </ion-content>
  <div class="static-footer product-button">
      <button id="product-details-confirm-btn" ng-disabled="vm.product.appointment"  class="primary-button" ng-click="vm.bookAppointment()">{{vm.product.appointment ? "Booked" : "Book"}}</button>
  </div>
</ion-view>
