<ion-view view-title="Details" ng-controller="ProductDetailsCtrl as vm">
  <div class="product-info-container">
    <div class="product-text-container">
      <div class="product-name big-header">{{vm.product.name}}</div>
      <div class="product-hashtags small-header">{{vm.product.hashtags}}</div>
    </div>
  </div>
  <ion-content class="instagram-list" on-swipe-down="vm.toProducts()">
    <div class="instagram-container" ng-repeat="instagram in vm.instagrams">
    	<div class="image-container" ng-style="{'background-image':'url({{instagram.image}})'}">
            <div id="bottom-shader"></div>
    		<div class="user-info-container">
    			<div class="user-profile-image">
    				<div class="img-small-circle" ></div>
    				<div class="img-circle" ng-style="{'background-image':'url({{instagram.author.profileImage}})'}"></div>
    			</div>
    			<div class="user-name">{{instagram.author.name}}</div>
    		</div>
    	</div>
    	<div class="user-text-container">
    		<span class="comments">{{instagram.comments}}&nbsp;</span>
    		<span class="hashtags">{{instagram.hashtags}}</span>
    	</div>
    </div>
  </ion-content>
  <div class="static-footer">
    <div class="btn-container">
        <button id="product-details-confirm-btn" ng-disabled="vm.product.appointment"  ng-class="vm.product.appointment ? 'btn info-btn' : 'btn primary-btn'" ng-click="vm.bookAppointment()">{{vm.product.appointment ? "Booked" : "Book"}}</button>
      </div>
    </div>
</ion-view>
