<ion-view view-title="Complete" ng-controller="CompleteCtrl as vm">
  <ion-content class="blur-fullscreen">
	  	<div class="product-desc-container">
		    <div class="big-header">{{vm.product.name}}</div>
		  	<div class="small-header">#lattenails #fallstyle #autum</div>
		  	<div class="product-description">{{vm.product.description}}</div>
	  	</div>
	  	<div id="booking-status-container" ng-if="vm.bookingComplete">
			<div id="error-module" class="status-module" ng-if="!vm.bookingSuccessful">
				<div class="status-icon-circle" style="background-image:url('../img/icon_error@3x.png')"></div>	
				<div class="short-status-msg">Oops!</div>
				<div class="long-status-msg">The request did not go through. Please try again or contact the team :( </div>
				<button class="dismiss-btn">Dismiss</button>
			</div>
	  	</div>
	  	<div class="fullscreen-image" ng-style="{'background-image':'url({{vm.product.image}})'}">
  </ion-content>
</ion-view>
