<ion-view view-title="Details" ng-controller="ProductDetailsCtrl as vm">
  <product-info-container product="vm.product"></product-info-container>
  <ion-content class="instagram-list" on-swipe-down="vm.toProducts()">
    <instagram-container instagram="instagram" ng-repeat="instagram in vm.instagrams"></instagram-container>
  </ion-content>
  <div class="static-footer">
    <div class="btn-container">
        <button id="product-details-confirm-btn" ng-disabled="vm.product.appointment"  ng-class="vm.product.appointment ? 'btn info-btn' : 'btn primary-btn'" ng-click="vm.bookAppointment()">{{vm.product.appointment ? "Booked" : "Book"}}</button>
      </div>
    </div>
</ion-view>
