<div id="appt-confirmed-modal" class="complete-page-modal rare-modal">
	<div class="status-icon-circle" style="background-image:url('img/icon_check@3x.png')"></div>
	<div class="rare-modal-content">
		<div class="complete-modal-title">Thank You So Much!</div>
		<div class="complete-modal-description">Your appointment is confirmed. If you need to make changes or have questions, contact us.</div>
		<div class="btn-container no-padding">
	    	<button id="appt-confirm-contact-us-btn" class="btn primary-btn" ng-click="apptConfirmedModal.contactUs()">Contact Us</button>
	    	<button id="close-appt-btn" class="btn dismiss-btn" ng-click="apptConfirmedModal.close()">Close</button>
		</div>
	</div>
</div>