<div id="reminder-modal" class="complete-page-modal">
	<div class="status-icon-circle" style="background-image:url('../img/icon_reminder@3x.png')"></div>
	<div class="complete-modal-title">Reminder</div>
	<div class="complete-modal-description">Would you like us to send you a reminder for your appointment?</div>
    <button class="primary-button" ng-click="reminderModal.done()">Remind Me</button>
    <button id="no-reminder-btn" class="primary-button" ng-click="reminderModal.done()">No Thank You</button>
</div>