<div id="wrong-code-modal" class="complete-page-modal">
	<div class="status-icon-circle" style="background-image:url('../img/icon_error@3x.png')"></div>
	<div class="complete-modal-title">Oops, wrong code</div>
	<div class="complete-modal-description">The code that was entered did not match the one we sent. Please try again.</div>
	<input id="security-code-input" type="text" ng-model="wrongNumberModal.securityCode"></input>
    <div class="resend-code-link" ng-click="wrongNumberModal.resend()">I didn't get it, try again</div>
    <button id="close-appt-btn" class="primary-button" ng-click="wrongNumberModal.confirm()">Confirm</button>
</div>