<ion-modal-view>
	<ion-header-bar>
	  <h1 class="title">Edit Phone Number</h1>
	</ion-header-bar>
	<ion-content>
	  <div class="list">
	    <label class="item item-input">
	      <span class="input-label">Phone Number</span>
	      <input type="tel" ng-model="vm.user.phoneNumber">
	    </label>
	  </div>
	  <button class="button button-full settings-btn-positive" ng-click="editPhoneNumberModal.done()">Done</button>
	  <button class="button button-full settings-btn-negative" ng-click="editPhoneNumberModal.cancel()">Cancel</button>
	</ion-content>
</ion-modal-view>