<ion-view view-title="Settings" ng-controller="SettingsCtrl as vm">
  <div class="settings-header">
    <div class="settings-header-btn"></div>
    <div class="settings-header-text">{{vm.user.name}}</div>
  </div>
  <ion-content>
  <div class="list" style="padding-top:50px;padding-bottom:50px;">
    <div class="item item-divider settings-label">Home Address</div>
    <a class="item item-icon-right" ng-click="vm.editAddress('home')">
      <div class="address-settings">
        <div>
          <div class="address-placeholder" ng-show="!vm.user.addresses.home.street">Street Address</div>
          {{vm.user.addresses.home.street}}
        </div>
        <div>
          <div class="address-placeholder" ng-show="!vm.user.addresses.home.city">City, State, Zip</div>
          {{vm.user.addresses.home.city}} {{vm.user.addresses.home.state}} {{vm.user.addresses.home.zipCode}}
        </div>
      </div>
        <i class="icon ion-chevron-right icon-accessory" style="content: url('../img/icon_caret_ash_right@3x.png'); height:25px;width:25px;margin-top:23px;margin-right:16px;"></i>      
    </a>
      <div class="item item-divider settings-label">Work Address</div>
      <a class="item item-icon-right" ng-click="vm.editAddress('work')">
        <div class="address-settings">
          <div>
            <div class="address-placeholder" ng-show="!vm.user.addresses.work.street">Street Address</div>
            {{vm.user.addresses.work.street}}
        </div>
          <div>
              <div class="address-placeholder" ng-show="!vm.user.addresses.work.city">City, State, Zip</div>
              {{vm.user.addresses.work.city}} {{vm.user.addresses.work.state}} {{vm.user.addresses.work.zipCode}}</div>
        </div>
        <i class="icon ion-chevron-right icon-accessory" style="content: url('../img/icon_caret_ash_right@3x.png'); height:25px;width:25px;margin-top:23px;margin-right:16px;"></i>      
      </a>
      <div class="item item-divider settings-label">Contact Email</div>
      <a class="item item-icon-right" ng-click="vm.editEmail()">
        <div class="email-phone-text">{{vm.user.email}}</div>
        <i class="icon ion-chevron-right icon-accessory" style="content: url('../img/icon_caret_ash_right@3x.png'); height:25px;width:25px;margin-top:13px;margin-right:16px;"></i>      
      </a>  
      <div class="item item-divider settings-label">Phone</div>
      <a class="item item-icon-right" ng-click="vm.editPhoneNumber()">
        <div class="email-phone-text">{{vm.user.phoneNumber}}</div>
        <i class="icon ion-chevron-right icon-accessory" style="content: url('../img/icon_caret_ash_right@3x.png'); height:25px;width:25px;margin-top:13px;margin-right:16px;"></i>         
      </a>  
  </div>
  </ion-content>
  <div class="settings-footer">
    <div class="settings-footer-text">Contact Us</div>
    <div class="settings-footer-btn"></div>
  </div>
</ion-view>