<ion-view ng-controller="SettingsCtrl as vm">
  <ion-nav-bar>
 <ion-nav-back-button class="button-clear" ng-click="vm.goBack()">
    <i class="ion-close-round"></i> {{vm.user.name}}
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
  <div class="list">
    <div class="item item-divider settings-label">Home Address</div>
    <a class="item" ng-click="vm.editAddress('home')">
      <div class="address-settings">
        <div>
          <div class="address-placeholder" ng-show="!vm.user.addresses.home.street">Street Address</div>
          {{vm.user.addresses.home.street}}
        </div>
        <div>
          <div class="address-placeholder" ng-show="!vm.user.addresses.home.city">City, State, Zip</div>
          {{vm.user.addresses.home.city}} {{vm.user.addresses.home.state}} {{vm.user.addresses.home.zipCode}}
        </div>
      </div>
        <div class="settings-right-btn-address"></div>      
    </a>
      <div class="item item-divider settings-label">Work Address</div>
      <a class="item" ng-click="vm.editAddress('work')">
        <div class="address-settings">
          <div>
            <div class="address-placeholder" ng-show="!vm.user.addresses.work.street">Street Address</div>
            {{vm.user.addresses.work.street}}
        </div>
          <div>
              <div class="address-placeholder" ng-show="!vm.user.addresses.work.city">City, State, Zip</div>
              {{vm.user.addresses.work.city}} {{vm.user.addresses.work.state}} {{vm.user.addresses.work.zipCode}}</div>
        </div>
        <div class="settings-right-btn-address"></div>         
      </a>
      <div class="item item-divider settings-label">Contact Email</div>
      <a class="item" ng-click="vm.editEmail()">
        <div class="email-phone-text">{{vm.user.email}}</div>
        <div class="settings-right-btn-email-phone"></div>         
      </a>  
      <div class="item item-divider settings-label">Phone</div>
      <a class="item" ng-click="vm.editPhoneNumber()">
        <div class="email-phone-text">{{vm.user.phoneNumber}}</div>
        <div class="settings-right-btn-email-phone"></div>              
      </a>  
  </div>
  <div id="policies-container">
      <div id="privacy-policy" ng-click="vm.openBrowser('http://www.rarenails.co/privacy-policy')">Privacy Policy&nbsp;&nbsp;</div>
      <div id="cancellation-policy" ng-click="vm.openBrowser('http://www.rarenails.co/terms-of-use')">&nbsp;&nbsp;Terms of Use</div>
  </div>
  </ion-content>
  <div class="settings-footer" ng-click="vm.toContactUs()">
    <div class="settings-footer-text">Contact Us</div>
    <div class="settings-footer-btn"></div>
  </div>
</ion-view>