<ion-view ng-controller="SettingsCtrl as vm" ng-class="{'shaded-background':vm.blurBackground}">
  <ion-nav-bar>
 <ion-nav-back-button class="button-clear" ng-click="vm.goBack()">
    <i class="ion-close-round"></i> {{vm.user.name}}
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
  <div class="list">
  <settings-address-item address="vm.user.addresses.home" edit-address="vm.editAddress(addressType)" label="Home Address" address-type="home"></settings-address-item>
  <settings-address-item address="vm.user.addresses.work" edit-address="vm.editAddress(addressType)" label="Work Address" address-type="work"></settings-address-item>
  <settings-email-phone-item contact="vm.user.email" edit-info="vm.editEmail()" label="Contact Email"></settings-email-phone-item>
  <settings-email-phone-item contact="vm.user.phoneNumber" edit-info="vm.editPhoneNumber()" label="Phone"></settings-email-phone-item> 
  </div>
  <policies-container open-policy="vm.openBrowser(url)"></policies-container>
  </ion-content>
  <div class="settings-footer" ng-click="vm.toContactUs()">
    <div class="settings-footer-text">Contact Us</div>
    <div class="settings-footer-btn"></div>
  </div>
</ion-view>