/* Profile Button */
.nav-settings-btn {
	background: transparent url('../img/icon_profile_light@3x.png') no-repeat center center;
	background-size: 25px 25px;
	border-width:0px;
	position:absolute;
	right:10px;
	top:10px;
	color: #ffffff;
	height:44px;
	width:44px;
	padding: 10px;
}

/* Primary Action Buttons */
button:disabled {
	opacity: .4;
}
button.action {
	border-radius: 4px;
	color: #fff;
}
button.primary-button {

}

#products-booking-btn {
	position: absolute;
	bottom: 20px;
}

.primary-button:disabled {
	background-color:#9d9c9a;
}

.myPopup button {
		color: #ffffff;
	background-color:#ed5f5e;
	font-family: Helvetica Neue, Helvetica;
	font-size: 15px;
	font-weight: bold;
	width:100%;
	text-align:center;
	height: 35px;
	line-height:35px;
    opacity: 0.9;
    overflow: auto;
    text-decoration: none;
}

.primary-button {
	color: #ffffff;
	background-color:#ed5f5e;
	font-family: Helvetica Neue, Helvetica;
	font-size: 15px;
	font-weight: bold;
	width:88%;
	text-align:center;
	height: 35px;
	line-height:35px;
	margin-left:6%;
	margin-right:6%;
	text-shadow:none;
	border:none;
	box-shadow:none;
    border-radius: 4px;
    opacity: 0.9;
    overflow: auto;
    text-decoration: none;
}

.dismiss-button {
	color: #ffffff;
	background-color:#9d9c9a;
	font-family: Helvetica Neue, Helvetica;
	font-size: 15px;
	font-weight: bold;
	width:88%;
	text-align:center;
	height: 35px;
	line-height:35px;
	margin-left:6%;
	margin-right:6%;
	text-shadow:none;
	border:none;
	box-shadow:none;
    border-radius: 4px;
    opacity: 0.9;
    overflow: auto;
    text-decoration: none;
}