input.form-input {
    height: 48px;
    line-height: 28px;
    font-size: 24px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #edecea;
}

#security-code-input {
    width:100%;
}

.user-text-input {
    width: 100%;
    border-radius: 4px;
}