html {
	background: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

/* Product */
.big-header {
    font-size: 10vmin; /* 42px; */
    font-weight: 300;
    line-height: 10vmin;
    text-align: left;
}

.small-header {
	padding-top: 1.5vmin;
    font-size: 6vmin; /* 24px; */
    line-height: 7vmin;
    font-weight: 300;
    text-align: left;
    opacity: 0.75;
}

.product-description {
    padding-top: 4vmin;
    font-size: 5vmin; /* 21px; */
    line-height: 6vmin;
    font-weight: 300;
    text-align: left;
}

.product-price {
	font-size: 16vmin; /* 42px; */
	margin: 0 2vmin 0 6vmin;
    float:left;
    font-weight: 100;
    text-shadow: 0px 0px 10px #3d3c3a;
}

.dollar-sign {
	position: absolute;
	left: 0;
    font-size: 8vmin;
    font-weight: 100;
    vertical-align: top;
    text-shadow: 0px 0px 10px #3d3c3a;
}

#scheduled-for-msg,
#appt-date-time,
#appt-address,
.deadline-msg {
	font-size: 5vmin;
	line-height: 6vmin;
	text-shadow: 0px 0px 10px #3d3c3a;	
}

#appt-date-time {
	font-weight: 800;
}

.deadline-msg {
	line-height: 7vmin;
	width: 50%;
	display:inline-block;
	vertical-align:middle;
}

/* Booking */
.booking-sub-header {
	font-size: 5vmin; /* 21px; */
    line-height: 6vmin;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.sub-header-description {
    color: #3d3c3a;
    font-size: 5vmin; /* 21px; */
    line-height: 6vmin;
    text-align: center;
    margin-bottom: 3vmin;
}
.day-of-week,
.time-of-day,
.address-type {
    font-size: 5vmin;
    font-weight: 400;
    margin-bottom: -2vmin;
}
.month-day,
.address-text,
.address-text-placeholder {
    font-size: 4vmin;
    font-weight: 100;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Modals */
.complete-modal-title {
    text-align:center;
    margin-bottom: 2vmin;
    font-size: 7vmin;
    line-height: 8vmin;
}

.complete-modal-description{
    text-align:center;
    margin-top: 6vmin;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;
    font-size: 5vmin;
    line-height: 6vmin;
    font-weight: 100;
}

/* EXTRAS */
.underline {
    text-decoration: underline;
}

#policies-container div {
    font-size: 4.5vmin; /* 18px; */    
}
